/* overall, big shapes should use vh and vw */
/* for the towers, probably don't want to do that so discs/towers don't blow up */
/* use vh and vw for everything, and then whatever looks funny, use pixels for those */
/* Use percentages for the discs */
/* the more divs you have, the more flexibility you ahve with styling, use divs */
/* think about adding box shadows, or add gradient, add background image */
body {
    width: 400vw;
    font-family: "Gothic A1";
    border: 2px solid red;
}
div {
    padding: 20px;
    border: 2px solid gray;
}
.towers {
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: 300px;
    border: 2px solid blue;
}
.tower {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* margin: 0px 10px 0px 30px; */
    min-width: 50px; 
    min-height: 100px;
    border: 2px solid orange;
    border-bottom: 5px solid brown; 
    padding-bottom: 0px;

    /* border-bottom: 3px rgb(160,82,45);  */
    /* Why doesn't this work ^^^^? */

    /* Source for code for vertical lines: */
    /* https://stackoverflow.com/questions/1179928/how-can-i-put-a-vertical-line-down-the-center-of-a-div */
    background: linear-gradient(#A0522D, #A0522D) no-repeat center/5px 100%;
}
#message {
    display: flex;
    justify-content: center;
}
.reset {
    text-align: center;
    margin: 5px auto;
    border-radius: 10px;
}
.disc {
    height: 10px;
    border-radius: 10px;
    /* align-self: flex-end; */
}
#disc1 {
    width: 10px;
    background-color: #BEE7A5;
}
#disc2 {
    width: 20px;
    background-color: #FEC47F;
}
#disc3 {
    width: 30px;
    background-color: #B19CD9;
}
#disc4 {
    width: 40px;
    background-color: #AEC6CF;
}
#disc5 {
    width: 50px;
    background-color: #C79098;
}