/* overall, big shapes should use vh and vw */
/* for the towers, probably don't want to do that so discs/towers don't blow up */
/* use vh and vw for everything, and then whatever looks funny, use pixels for those */
/* Use percentages for the discs */
/* the more divs you have, the more flexibility you ahve with styling, use divs */
/* think about adding box shadows, or add gradient, add background image */
html {
    background-color: #ece7d4;
}
.name {
    display: flex;
    justify-content: center;
}
span {
    color: #ff3d4d;
}
body {
    width: 600px;
    /* font-family: "Gothic A1"; */
    font-family: "DM Sans";
    border: 2px solid red;
}
div {
    padding: 20px;
    border: 2px solid gray;
}
.towers {
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: 300px;
    border: 2px solid blue;
}
.tower {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* margin: 0px 10px 0px 30px; */
    min-width: 10vw; 
    min-height: 10vh;
    /* border: 2px solid orange; */
    border-bottom: 5px solid brown; #A52A2A is the bottom current color, a.k.a. solid brown ???????????????????
    padding-bottom: 0px;
    border-radius: 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* Source for code for vertical lines: */
    /* https://stackoverflow.com/questions/1179928/how-can-i-put-a-vertical-line-down-the-center-of-a-div */
    background: linear-gradient(#654321, #654321) no-repeat center/5px 100%;
    /* background: linear-gradient(#A0522D, #A0522D) no-repeat center/5px 100%; */
}
#message {
    display: flex;
    justify-content: center;
}
.reset-section {
    display: flex;
    justify-content: center;
}
.reset-button {
    text-align: center;
    margin: 5px auto;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-family: "DM Sans";
    font-size: medium;
    background-color: #ff3d4d;
    color: #ece7d4;
}
select {
    background: red;
    border-radius: 5px;
}
.difficulty {
    display: flex;
    justify-content: center;
}
.minimum {
    display: flex;
    justify-content: center;
}
.disc {
    height: 5px;
    border-style: solid;
    border-color:#475f77;
    border-radius: 20px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#disc1 {
    width: 10px;
    background-color: #BEE7A5;
}
#disc2 {
    width: 20px;
    background-color: #FEC47F;
}
#disc3 {
    width: 30px;
    background-color: #B19CD9;
}
#disc4 {
    width: 40px;
    background-color: #AEC6CF;
}
#disc5 {
    width: 50px;
    background-color: #C79098;
}
#disc6 {
    width: 60px;
    background-color: #C79098;
}
#disc7 {
    width: 70px;
    background-color: #C79098;
}
#disc8 {
    width: 80px;
    background-color: #C79098;
}






